/* Universal Settings */
div {
  border: 1px solid white;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Header Settings */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav a {
  margin-right: 15px;
  color: seashell;
  font-family: Helvetica;
}

/* Main Section */

.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
  opacity: 0.9;
}

#jumbotron {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
}

#jumbotron .content {
  background-color: black;
  width: 100%;
  margin: auto;
}

#jumbotron .content h2, h4 {
  margin: 15px auto;
}

/* Tea Section */

#tea-section {
  width: 1000px;
  margin: auto;
  padding-top: 60px;
}

h2, h3, h4 {
  margin: auto;
  padding: 10px;
  display: block;
}

#tea-section img {
  height: 200px;
  width: 300px;
  margin: 10px;
}

.item {
  padding: 5px;
}

.item span {
  padding: 5px;
  display: block;
  font-weight: bold;
}

/* Locations Section */

#locations {
  height: 500px;
  padding-top: 60px;
  background-image: url(../images/img-locations-background.jpg);
  margin-top: 100px;
}

.location {
  width: 300px;
  background-color: black;
  opacity: 1;
  text-align: center;
  padding: 10px;
  margin: 5px 20px;
}
